<div class="jumbotron">
	<center>
		<h1>Welcome to Organized By Color!</h1>

		<img src="https://secure.static.tumblr.com/349f3730165e29ee7cddbd6da2dcede1/s4cjcga/4yZn6h8vn/tumblr_static_books.jpg">
		<br>

		<%= link_to "Click here to enter site!", books_path, class: "btn btn-default" %>
	</center>
</div>