<div class="jumbotron">
	<center>
		<div class="section-title">This is (OBC) Organized By Color</div>

		<img src="https://secure.static.tumblr.com/349f3730165e29ee7cddbd6da2dcede1/s4cjcga/4yZn6h8vn/tumblr_static_books.jpg">
		<br>

		<%= link_to "Let's Pick Out a Book!", books_path, class: "btn btn-default" %>
	</center>
</div>